@page
@model WebApplication3.Pages._403Model
@{
}

<div class="text-center">
    <h1>403: Forbidden</h1>
    <h3 class="text-black-50">Welcome to Limbo</h3>
    <p>Our Lord has not deemed you worthy enough to lay eyes upon this page.</p>

    <a href="/index">
        <img src="@Url.Content("~/images/bpc.png")" width="200" height="100">
    </a>

    <p>Pet the cosmic bunny to <a href="/Index">return home.</a></p>
</div>