@page
@model WebApplication3.Pages._404Model

<div class="text-center">
    <h1>404: Not Found</h1>
    <h3 class="text-black-50">Welcome to Limbo</h3>
    <p>Looks like the page you're trying to access does not exist.</p>

    <a href="/index">
        <img src="@Url.Content("~/images/bpc.png")" width="200" height="100">
    </a>

    <p>Pet the cosmic bunny to <a href="/Index">return home.</a></p>
</div>
