@page
@using Microsoft.AspNetCore.Identity;
@using WebApplication3.ViewModels;
@model IndexModel
@inject UserManager<User> UserManager;
@inject SignInManager<User> SignInManager;
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h3 class="mt-5">Who's Logged in?</h3>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>It's you, @UserManager.GetUserName(User)!</p>
    }
    else
    {
        <p>Nobody at the moment. :(</p>
    }

</div>
